<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './style.css' %}">
    <title>success</title>
</head>
<body>
    <main class="main-success">
        <section class="alert">
            <div class="container">
                <div class="box">
                    <h3 class="alert-heading">Ma'lumotlaringiz Yozib Olindi!!!</h3>
                </div>
            </div>
        </section>
    </main>
    
</body>
</html>